h1 {
	color: black;
	font-family:Didot Bold;
	border: 2px solid;
	text-align: center;
	height:45px;
	width: 500px;
	margin: auto;
	padding:5px;
	border-color: black;
	background: white;
	color:#17b2a5;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
	text-align: center;
	font-family:Didot Bold;
	border: 2px solid;
	text-align: center;
	height:30px;
	width: 500px;
	padding:5px;
	margin: auto;
	background:white;
	color:#ff9f47;
	border-color:black;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom:10px;
}

p {
	text-align: center;
	font-family: Avenir;
	font-size: 16;
}

form{
	text-align: center;
	font-family:Didot;
}

ul{
	text-align: center;
	font-family: Avenir;
	padding-left:0;   
}

ul li  {
 	list-style-position:inside
}

.dog {
	border:2px solid;
	width: 180px;
	margin:auto;
}

.lacroix{
	border:2px solid;
	width: 100px;
	margin:auto;
}

.casa{
	border:2px solid;
	width: 300px;
	margin:auto;
}

.ha{
	font-size: 36;
	text-align: center;
	font-family: Avenir;
}

.nina{
	border:2px solid;
	width: 200px;
	margin:auto;
}

body{
	background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav li{
	display:inline-block;
	border:2px solid;
	padding: 10px;
	background: white;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.plans{
	column-count: 3;
}

a:link {
  text-decoration: none;
color:black;
}

a:visited {
  text-decoration: none;
color:black;
}

a:hover {
  text-decoration: underline;
color:black;
}

a:active {
  text-decoration: underline;
  color:black;
}

.select{
	border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.eggs{
	border:2px solid;
	width: 350px;
	margin:auto;
}
